<!-- Portfolio Grid Section -->
    <section id="aboutcity" class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Venue</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 speakers-item">
                    <p>
                    Described by the Vancouver Sun as the "intellectual heart of the city," Simon Fraser University’s Vancouver campus transformed the landscape of urban education in downtown Vancouver. Today, the campus is comprised of eight facilities covering over half a million square feet, clustered in the core of one of the world’s most liveable cities.
                    </p>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 speakers-item">
                    <img src="{{site.baseurl}}/img/venue/seagal.JPG" style="width: 100%;">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 speakers-item">
                    <img src="{{site.baseurl}}/img/venue/harbour-1.jpg" style="width: 100%;">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 speakers-item">
                    <img src="{{site.baseurl}}/img/venue/harbour-2.jpg" style="width: 100%;">
                </div>
            </div>
        </div>
    </section>
