<!-- Portfolio Grid Section -->
    <section id="venue" class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Travel</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row"">
                <div class="col-lg-6 col-md-6 col-sm-12 speakers-item">
                    <h3 class="section-subheading text-muted" style="margin-bottom:10px;">Visa Information</h3>
                    <p>
                        Visitors from some countries will need a visa to enter Canada. Official information is provided by the <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/visit-canada.html">Government of Canada website</a>.
                    </p>
                    <h3 class="section-subheading text-muted" style="margin-bottom:10px;">By Air</h3>
                    <p>
                        Vancouver International Airport (YVR) is at 13.7 Km from the conference venue. The commute takes <a href="https://www.google.com/maps/dir/Vancouver+International+Airport+(YVR),+3211+Grant+McConachie+Way,+Richmond,+BC+V7B+0A4/Simon+Fraser+University+-+Vancouver+Campus,+West+Hastings+Street,+Vancouver,+BC/@49.2381858,-123.2155827,12z/data=!4m14!4m13!1m5!1m1!1s0x54860b348627a39b:0xba68ccac86348084!2m2!1d-123.1815123!2d49.1966913!1m5!1m1!1s0x5486717860837f99:0xca38b70b0694419a!2m2!1d-123.1116459!2d49.2845416!3e3" target="_blank">26-minute by taxi or 30 minutes using the public transportation system</a>.
                    </p>
                    <p>
                        Canada's second busiest airport, YVR served 24.2 million passengers in 2017. Fifty-six airlines serve YVR, connecting people and businesses to more than 127 non-stop destinations worldwide.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 speakers-item" style="padding-bottom:20px;">
                    <img src="{{site.baseurl}}/img/venue/yvr.jpg" style="width: 100%;">
                </div>
            </div>
        </div>
    </section>
