<!-- Portfolio Grid Section -->
    <section id="aboutcity" class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Venue</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 speakers-item">
                    <p>
                    Described by the Vancouver Sun as the "intellectual heart of the city," Simon Fraser University’s Vancouver campus transformed the landscape of urban education in downtown Vancouver. Today, the campus is comprised of eight facilities covering over half a million square feet, clustered in the core of one of the world’s most liveable cities.
                    </p>
                    <p>
                    Vancouver's campus mission is to be a hub where life-long learning, community-engagement, arts and culture, innovation and entrepreneurship intersect and thrive to provide solutions to local, regional, national and global matters.
                    </p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 speakers-item">
                    <img src="{{site.baseurl}}/css/2016_style/img/header-bg.jpg">
                </div>
            </div>
        </div>
    </section>
