<style>
                .map {
                position:relative;
                padding-bottom: 56.25%;
                height:0;
                overflow:hidden;
                align: middle;
                }
                .map iframe, .video object, .video embed {
                position: absolute;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                }
</style>

<section id="accommodation">
        <div class="container12">
            <div class="row">
                <div class="container text-center">
                    <h2 class="section-heading">Accomodation</h2>
                    <div class="container text-center" style="color: #{{ site.data.template.color.primary }}">
                            <p>More information will be available soon.</p>
                    </div>
                    <div>
                           <div class="mapouter">
                                <div class="gmap_canvas map"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=500%20Granville%20St%2C%20Vancouver%2C%20BC%20V6C%201W6&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de">internetagentur</a></div>
                                <style>.mapouter{text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
                           </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>
