<style>
                .map {
                position:relative;
                padding-bottom: 56.25%;
                height:0;
                overflow:hidden;
                align: middle;
                }
                .map iframe, .video object, .video embed {
                position: absolute;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                }
</style>

<section id="accommodation">
        <div class="container12">
            <div class="row">
                <div class="container text-center">
                    <h2 class="section-heading">Accomodation</h2>
                    <div class="container text-center" style="color: #{{ site.data.template.color.primary }}">
                            <p>More information will be available soon!</p>
                    </div>
                    <p style="text-align: center;">
                    <div style="width: 100%; align: center;"><iframe width="80%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=500%20Granville%20St%2C%20Vancouver%2C%20BC%20V6C%201W6+(Venue)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/create-google-map/">Create Google Map</a></iframe></div><br />
                    </p>
                </div>
            </div>
        </div>
    </section>
