<section id="contact">
        <div class="container12">
            <div class="row">
                <div class="container text-center">
                    <h2 class="section-heading">Registration</h2>
                    <div class="container text-center" style="color: white">
                            <p>Odio ut enim blandit volutpat. Adipiscing tristique risus nec feugiat in. Pulvinar proin gravida hendrerit lectus a. Auctor augue mauris augue neque gravida in fermentum et sollicitudin. Vel pharetra vel turpis nunc. Lobortis scelerisque fermentum dui faucibus in ornare quam. Laoreet suspendisse interdum consectetur libero. Urna neque viverra justo nec ultrices dui sapien eget. Feugiat in ante metus dictum at tempor commodo ullamcorper a. Nunc faucibus a pellentesque sit amet porttitor. Mi proin sed libero enim sed faucibus. Nulla malesuada pellentesque elit eget gravida cum sociis natoque penatibus. Massa placerat duis ultricies lacus sed turpis tincidunt. Eget egestas purus viverra accumsan. Eget gravida cum sociis natoque penatibus et magnis dis.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
