

<!-- Navigation -->
    <nav class="navbar-expand-md navbar-dark navbar-fixed-top navbar-default navbar-shrink" style="background-color: rgb(55, 55, 55, 0.85)">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll" style="margin-right: 15px; margin-left: 15px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#home" style="margin: 0px 0px 0px 0px; padding-top: 7px;"><h4 style="font-size: 125%; margin:0 ! important;">IGS'19</h4><h4 style="font-size: 69%; margin:0 ! important;">17-21 June</h4></a><br>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-left: 15px;">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="/"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#home">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Conferences</a>
                    </li>
                    
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">For Attendees</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown1" style="background-color: rgb(70, 70, 70)">
                            <li class=""><a class="page-scroll" href="#sponsors">Registration</a></li>
                            <li class=""><a class="page-scroll" href="#accommodation">Accomodation</a></li>
                        </ul>
                    </li>
                    
                    
                    <li>
                        <a class="page-scroll" href="#speakers">Organization</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
