
<!-- Portfolio Grid Section -->
    <section id="sponsors" class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Registration</h2>
                </div>
		    <div class="container text-center" style="color: #{{ site.data.template.color.primary }}">
                            <p>Full conference, prices in USD</p>
                    </div>
            </div>
            <div class="row">
            <div class="col-12 text-center">
                     

		    <table style="margin: auto; width: 30% !important;">
	<thead>
	<tr>
		<th style="background: #fff; color: #fff; border: 0px solid #ccc; "></th>
		<th style="border: 1px solid #bbb; ">Members*</th>
		<th style="border: 1px solid #bbb; ">Non-members</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td style="border: 1px solid #bbb; ">Students</td>
		<td style="border: 1px solid #bbb; ">$ 750</td>
		<td style="border: 1px solid #bbb; ">$ 850</td>
	</tr>
	<tr>
		<td style="border: 1px solid #bbb; ">Researchers</td>
		<td style="border: 1px solid #bbb; ">$ 1,000</td>
		<td style="border: 1px solid #bbb; ">$ 1,100</td>
	</tr>
	<tr>
		<td style="border: 1px solid #bbb; ">Industry</td>
		<td style="border: 1px solid #bbb; ">$ 1,200</td>
		<td style="border: 1px solid #bbb; ">$ 1,300</td>
	</tr>
	</tbody>
</table>
		    <div class="speakers-caption">
                        <p class="text-muted" style="font-size: 70%;">*Members of ACM, Eurographics, or SIAM</p>
        </div>
		    
		    
		    
                    </div>
            </div>
        </div>
    </section>
