
<!-- Portfolio Grid Section -->
    <section id="sponsors" class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Registration</h2>
                    <h3 class="section-subheading text-muted">Full Conference, prices in USD</h3>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-12 text-center">
                     

		    <table>
	<thead>
	<tr>
		<th style="background: #fff; color: #fff; border: 0px solid #ccc; "></th>
		<th style="border: 1px solid #bbb; ">Member</th>
		<th style="border: 1px solid #bbb; ">Non-member</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td style="border: 1px solid #bbb; ">Students</td>
		<td style="border: 1px solid #bbb; ">$ 750</td>
		<td style="border: 1px solid #bbb; ">$ 850</td>
	</tr>
	<tr>
		<td style="border: 1px solid #bbb; ">Researchers</td>
		<td style="border: 1px solid #bbb; ">$ 1,000</td>
		<td style="border: 1px solid #bbb; ">$ 1,100</td>
	</tr>
	<tr>
		<td style="border: 1px solid #bbb; ">Industry</td>
		<td style="border: 1px solid #bbb; ">$ 1,200</td>
		<td style="border: 1px solid #bbb; ">$ 1,300</td>
	</tr>
	</tbody>
</table>
		    
		    
		    
                    </div>
            </div>
        </div>
    </section>
