<!DOCTYPE html>
<html>
  
    <script>
    i = 0;
      
    var bgImageArray = ["header-bg.jpg", "A.jpeg","B.jpeg","C.jpeg","D.jpeg"],
base = "{{ site.baseurl }}/css/2016_style/img/",
secs = 2;
bgImageArray.forEach(function(img){
    new Image().src = base + img; 
    // caches images, avoiding white flash between background replacements
});

function backgroundSequence() {
	window.clearTimeout();
	var k = 0;
	for (i = 0; i < bgImageArray.length; i++) {
		setTimeout(function(){ 
      			var header1 = document.getElementsByClassName('header1');
      			header1[0].style.backgroundImage =  'url(' + base + bgImageArray[k] + ')';
			document.documentElement.style.backgroundSize ="cover";
			if ((k + 1) === bgImageArray.length) {
				setTimeout(function() { backgroundSequence() }, (secs * 1000))
			} 
			else { k++; }			
		}, (secs * 1000) * i)	
	}
}
backgroundSequence();
      
    
  </script>
  
  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header class="header1">
        <div class="container containerbackground">
            <div class="intro-text">
                <div class="intro-heading" style="color: #A6192E">
                    International Geometry Summit 2019
                  <br></div>
                <div class="intro-lead-in">
                  <span style="background-color: rgba(200, 200, 200, 0.6); color: #A6192E;">
                    Vancouver, June 20-24th
                  </span>
                </div>
            </div>
        </div>
    </header>

    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
