<!DOCTYPE html>
<html>
  <script>
    i = 0;
    window.onload = function () {

    function changeImage() {   
        
        if (i == 0) {
          i = i + 1;
          BackgroundImg = url('{{ site.baseurl }}/css/2016_style/img/header-bg.jpg');
        }
        else {
          i = i - 1;
          BackgroundImg = url('{{ site.baseurl }}/css/2016_style/img/header-bg.jpg');
        }
        var header1 = document.getElementsByClassName('header1');
        console.log(BackgroundImg);
        header1[0].style.backgroundImage =    BackgroundImg;
    }
    window.setInterval(changeImage, 2000);
}
  </script>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header class="header1">
        <div class="container containerbackground">
            <div class="intro-text">
                <div class="intro-heading" style="color: #A6192E">
                    International Geometry Summit 2019
                  <br></div>
                <div class="intro-lead-in">
                  <span style="background-color: rgba(200, 200, 200, 0.6); color: #A6192E;">
                    Vancouver, June 20-24th
                  </span>
                </div>
            </div>
        </div>
    </header>

    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
