<!DOCTYPE html>
<html>
  
    <script>
      
      var bgImageArray = ["header-bg.jpg", "A.jpeg","B.jpeg","C.jpeg","D.jpeg"],
base = "{{ site.baseurl }}/css/2016_style/img/",
secs = 4;
bgImageArray.forEach(function(img){
    new Image().src = base + img; 
    // caches images, avoiding white flash between background replacements
});

      
    i = 0;
      
  window.onload = function () {

    function changeImage() {   
        
        if (i == 0) {
          i = i + 1;
          BackgroundImg = 'url({{ site.baseurl }}/css/2016_style/img/header-bg.jpg)';
        }
        else if (i == 1) {
          i = i + 1;
          BackgroundImg = 'url({{ site.baseurl }}/css/2016_style/img/A.jpeg)';
        }
        else if (i == 2) {
          i = i + 1;
          BackgroundImg = 'url({{ site.baseurl }}/css/2016_style/img/B.jpeg)';
        }
        else if (i == 3) {
          i = i + 1;
          BackgroundImg = 'url({{ site.baseurl }}/css/2016_style/img/C.jpeg)';
        }
        else {
          i = 0;
          BackgroundImg = 'url({{ site.baseurl }}/css/2016_style/img/D.jpeg)';
        }
        var header1 = document.getElementsByClassName('header1');
        console.log(BackgroundImg);
        header1[0].style.backgroundImage =    BackgroundImg;
    }
    window.setInterval(changeImage, 5000);
}

      
    
  </script>
  
  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header class="header1">
        <div class="container containerbackground">
            <div class="intro-text">
                <div class="intro-heading" style="color: #A6192E">
                    International Geometry Summit 2019
                  <br></div>
                <div class="intro-lead-in">
                  <span style="background-color: rgba(200, 200, 200, 0.6); color: #A6192E;">
                    Vancouver, June 20-24th
                  </span>
                </div>
            </div>
        </div>
    </header>

    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
